.App {
  text-align: center;
  background-color: rgb(139, 139, 226);
  height: 140vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar{
  width: 100vw;
  height: 80px;
  margin-top: 0px;
  color: white;
  padding: 20px;
}

.cardone{
  transform: rotate(-2deg);
  background: #e8e8a4;
}

.cardtwo{
  transform: rotate(2deg);
}

#footer{
  margin-bottom: 0px;
  width: 100vw;
  height: 20%;
  color: white;
  background-color: black;
}